<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Login to access the Valheim Info API." />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <h1>Welcome to the <%= title %> API</h1>
      <nav>
        <ul>
          <% if(!isAuthenticated) { %>
          <li>
            <a href="/login">Login</a>
          </li>
          <% } else { %>
          <li>
            <a href="/logout">Logout</a>
          </li>
          <% } %>
          <li>
            <a href="/api-docs">API Docs</a>
          </li>
        </ul>
      </nav>
    </main>
  </body>
</html>
